<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="container margin_top">

    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <h1 class="font-effect-anaglyph" style="font-family: 'Mitr', serif;">Welcome Admin</h1>
    <h3 style="font-family: 'Mitr', serif;">Registered Users</h3>

    <div ng-if="model.users.length === 0">
        There are no users registered as of now!
    </div>

    <div ng-if="model.users" class="table followings">
        <ul ng-repeat="user in model.users" class="form-group">
            <div class="form-group-item">
                <div class="col-xs-6 margin_top">
                    <a class="mitr-font capitalize" href="#/admin/user/{{user._id}}">{{user.username}}</a>
                </div>
                <div class="col-xs-6 margin_top">
                    <button class="unfollow_btn" ng-click="model.deleteUser(user)" style="color: red">Delete</button>
                </div>
            </div>

        </ul>
    </div>
</div>