<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="container" style="height: 0px;">
    <div class="modal fade" id="launch_model">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 ng-if="model.success" class="modal-title">Success</h4>
                    <h4 ng-if="model.error" class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p ng-if="model.success">{{model.success}}</p>
                    <p ng-if="model.error">{{model.error}}</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<div class="container margin_top">

    <h1 class="font-effect-anaglyph" style="font-family: 'Mitr', serif;">Welcome Admin</h1>
    <h3 style="font-family: 'Mitr', serif;">Registered Users</h3>

    <div ng-if="model.users.length === 0">
        There are no users registered as of now!
    </div>

    <div ng-if="model.users" class="table followings">
        <ul ng-repeat="user in model.users" class="form-group">
            <div class="form-group-item">
                <div class="col-xs-6 margin_top">
                    <a class="mitr-font capitalize" href="#/admin/user/{{user._id}}">{{user.username}}</a>
                </div>
                <div class="col-xs-6 margin_top">
                    <button class="unfollow_btn" ng-click="model.deleteUser(user)" style="color: red">Delete</button>
                </div>
            </div>

        </ul>
    </div>
</div>