
<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="container" style="height: 0px;">
    <div class="modal fade" id="launch_model">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 ng-if="model.success" class="modal-title">Success</h4>
                    <h4 ng-if="model.error" class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p ng-if="model.success">{{model.success}}</p>
                    <p ng-if="model.error">{{model.error}}</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<div class="container margin_top">
    <form class="input-group margin_top" ng-submit="model.searchRecipeWithIngredient(ingredients)">
        <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
    </form>

    <div class="profile_body">
        <div class="profile_tab_header margin_top">
            <ul class="nav nav-tabs nav-justified">
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/grocery">Groceries</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/favourites">Favourites</a></li>
                <li class="active font-effect-anaglyph"><a href="#/user/{{model.uid}}/followers">Followers</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/following">Follows</a></li>
                <li class="font-effect-anaglyph"><a href="#/user">Profile</a></li>
            </ul>
        </div>

    </div>


    <div class="margin_top">

        <div ng-if="model.followers.length == 0" class="margin_top empty_list">
            Currently you have no one following you
        </div>

        <div ng-if="model.followers">
            <ul ng-repeat="follower in model.followers" class="list-group">
                <li class="list-group-item">
                    <a class="mitr-font capitalize" href="#/user/{{model.uid}}/follower/{{follower._id}}">{{follower.follower.username}}</a>
                </li>
            </ul>
        </div>
    </div>

</div>