
<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="container margin_top">
    <div class="input-group">
        <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
        <span class="input-group-btn">
            <a href="#/user/{{model.uid}}/search/{{ingredients}}" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <div class="profile_body">
        <div class="profile_tab_header margin_top">
            <ul class="nav nav-tabs nav-justified">
                <li class="font-effect-anaglyph"><a href="#/user">Profile</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/grocery">Groceries</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/favourites">Favourites</a></li>
                <li class="active font-effect-anaglyph"><a href="#/user/{{model.uid}}/followers">Followers</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/following">Follows</a></li>
            </ul>
        </div>

    </div>


    <div class="container">
        <div ng-if="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <div ng-if="model.followers" class="table">
            <div ng-repeat="follower in model.followers">
                <div class="margin_top">
                    <a class="mitr-font" href="#/user/{{model.uid}}/follower/{{follower._id}}" style="text-transform: capitalize;">{{follower.follower.username}}</a>
                </div>
            </div>
        </div>
    </div>

</div>