#image_container {
    padding: 15px;
}

.navbar-brand {
    font-family: 'Atma', serif;
    padding-left: 0px;
}

.navbar-header
{
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    padding-left: 15px;
    padding-right: 25px;
}

.navbar-nav li a
{
    font-family: 'Changa', serif;
}

.nav-tabs li a {
    font-family: 'Changa', serif;
    color: #8B7500;
    font-weight: bold;
    font-size: 16px;
}

body {
    padding-top: 55px;
    padding-bottom: 105px;
    /*background-color: #4D4D4D;*/
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.fav_overlay {
    position: relative;
}

.glyphicon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.glyphicon-circle{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: black;
}

.glyphicon-stack-1x {
    line-height: inherit;
}
.glyphicon-stack-1x, .glyphicon-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.black{
    background-color: black;
}

.white{
    color: white;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    top: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.right_pad {
    padding-right: 20px;
}

.bottom_pad {
    padding-bottom: 20px;
}

.margin_top {
    margin-top: 2%;
}

.margin_left {
    margin-left: 2%;
}

.margin_right {
    margin-right: 15%;
}

.profile_avatar img{
    border: solid;
    border-color: #8B7500;
    border-radius: 10%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/

}

.img_background {
    background: url("./../views/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}

.plain_background {
    background: black no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
}

@media (max-width: 768px) {
    .navbar-collapse{ margin-top: 50px; }
}

.container-block {
    background: #4D4D4D no-repeat center center fixed;
    padding: 2%;
    width: 50%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.unfollow_btn {
    border-style: solid;
    background: transparent;
    font-family: 'Mitr', serif;
    border-radius: 15px;
    border-color: #8B7500;
    font-weight: bold;
    font-size: 12px;
}

.mitr-font {
    font-family: 'Mitr', serif;
    font-size: 16px;
    color: black;
}

.control-label {
    font-family: 'Mitr', serif
}

.col-xs-6 p {
    font-family: 'Mitr', serif
}

.form-group label {
    font-family: 'Mitr', serif
}

.form-group input {
    font-family: 'Mitr', serif
}

.checkbox label {
    font-family: 'Mitr', serif
}

.col-xs-6 p {
    font-family: 'Mitr', serif
}

.headlines {
    font-family: 'Changa', serif;
    color: #8B7500;
    font-weight: bold;
    font-size: 16px;
}

.error-span {
    color: orange;
}

.capitalize {
    text-transform: capitalize;
}

.carousel-caption {
    padding-bottom: 5px;
}

.carousel-indicators {
    margin-bottom: 0px;
}

.empty_list {
    color: darkgray;
    font-style: italic;
}