#image_container {
    margin: 10px;
    padding: 5px;
}

.navbar-header
{
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    padding-left: 15px;
    padding-right: 25px;
}


body {
    padding-top: 55px;
    padding-bottom: 55px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

#nav_dropdown {
    display: none;
}

@media (max-width: 768px) {
    #nav_dropdown{ display: inline-block; }
}

.fav_overlay {
    position: relative;
}

.glyphicon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.glyphicon-circle{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: black;
}

.glyphicon-stack-1x {
    line-height: inherit;
}
.glyphicon-stack-1x, .glyphicon-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.black{
    background-color: black;
}

.white{
    color: white;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    top: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.right_pad {
    padding-right: 20px;
}

.bottom_pad {
    padding-bottom: 20px;
}

.margin_top {
    margin-top: 2%;
}

.margin_left {
    margin-left: 2%;
}

.profile_avatar img{
    border: solid;
    border-color: lightgray;
    border-radius: 10px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/

}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators li {
    background-color: white;
    border: none;
}

