
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container_fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="website_list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">Edit Website</a>
            <p class="navbar-text pull-right">
                <a href="website_list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container" ng-controller="Website_edit_controller">
    <div role="form">
        <div class="form-group">
            <label>Website Name</label>
            <input class="form-control"
                   type="text"
                   placeholder="Google"
                   value={{selected_website.name}}>
        </div>

        <div class="form-group">
            <label>Website Description</label>
            <textarea class="form-control"
                      type="text" rows="4"
                      placeholder="Description">{{selected_website.description}}
            </textarea>
        </div>
    </div>
    <a class="btn btn-danger btn-block" href="website_list.view.client.html">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="../views/user/profile.view.client.html">
            <span class="glyphicon glyphicon-user  blue_glyph"></span>
        </a>
    </div>
</nav>
