input.form-control {
    margin: 5px;
}

.blue_glyph {
    color: #0099cc;
}

.black_glyph {
    color: #000000;
}

.list {
    color: #0099cc;
    padding-bottom: 10px;
}

body {
    padding-top: 55px;
    padding-bottom: 55px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}