input.form-control {
    margin: 5px;
}

.blue_glyph {
    color: #0099cc;
}

.list {
    color: #0099cc;
    padding-bottom: 10px;
}

.padding_right20 {
    padding-right: 20px;
}

body {
    padding-top: 45px;
    padding-bottom: 45px;
}