<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container_fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Online Kitchen</a>
            <p class="navbar-text pull-right">
                <a href="#/top_rated_recipe" class="navbar-link">
                    Top Rated Recipes
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div class="input-group">
        <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
        <span class="input-group-btn">
            <a ng-click="model.searchRecipes(ingredients)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

</div>