<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container_fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Online Kitchen</a>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <div id="nav_main_menu">
                        <a type="button" class="btn btn-primary navbar-btn" href="#/top_rated_recipe">Top Rated Recipe</a>
                        <a type="button" class="btn btn-info navbar-btn" href="#/register">Register</a>
                        <a type="button" class="btn btn-success navbar-btn" href="#/login">Login</a>
                    </div>
                </ul>
            </div>

            <div id="nav_dropdown" >
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" >
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#/top_rated_recipe">Top Rated Recipes</a></li>
                            <li><a href="#/register">Register</a></li>
                            <li><a href="#/login">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>


<div class="container">
    <div class="input-group">
        <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
        <span class="input-group-btn">
            <a ng-click="model.searchRecipes(ingredients)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

</div>