
<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="container margin_top">
    <div class="input-group">
        <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
        <span class="input-group-btn">
            <a href="#/user/{{model.uid}}/search/{{ingredients}}" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <div class="profile_body">
        <div class="profile_tab_header margin_top">
            <ul class="nav nav-tabs nav-justified">
                <li class="font-effect-anaglyph"><a href="#/user">Profile</a></li>
                <li class="active font-effect-anaglyph"><a href="#/user/{{model.uid}}/grocery">Groceries</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/favourites">Favourites</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/followers">Followers</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/following">Follows</a></li>
            </ul>
        </div>

    </div>

    <div class="input-group margin_top">
        <input ng-model="ingredient" type="text" class="form-control clear_search" placeholder="Add your ingredients">
            <span class="input-group-btn">
                <a id="search_toggle" ng-click="model.addGrocery(ingredient)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </span>
    </div>

    <div class="container">
        <div ng-if="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <div ng-if="model.groceries.length == 0" class="margin_top empty_list">
            Currently you have no Groceries added in your account
        </div>

        <div ng-if="model.groceries" class="table">
            <div ng-repeat="grocery in model.groceries">
                <div class="checkbox form-input-group">
                    <button class="unfollow_btn" ng-click="model.deleteIngredient(grocery)">
                        <span class="glyphicon glyphicon-trash pull-right" style="text-align: right"></span>
                    </button>
                    <label class="mitr-font" style="margin-left: 10%">
                        <input ng-model="value" type="checkbox" value="{{grocery.name}}" ng-change="model.change(value)"> {{grocery.name}}
                    </label>
                </div>

            </div>
        </div>

        <div class="col-xs-6 margin_top">
            <button id="search" class="unfollow_btn" ng-click="model.searchRecipe()">Search Recipes</button>
        </div>
    </div>

</div>