
<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="container margin_top">

    <form class="input-group margin_top" ng-submit="model.searchRecipeWithIngredient(ingredients)">
        <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
    </form>


    <div class="profile_body">
        <div class="profile_tab_header margin_top">
            <ul class="nav nav-tabs nav-justified">
                <li class="active font-effect-anaglyph"><a href="#/user/{{model.uid}}/grocery">Groceries</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/favourites">Favourites</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/followers">Followers</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/following">Follows</a></li>
                <li class="font-effect-anaglyph"><a href="#/user">Profile</a></li>
            </ul>
        </div>
    </div>

    <form class="input-group margin_top" ng-submit="model.addGrocery(ingredient)">
        <input ng-model="ingredient" type="text" class="form-control clear_search" placeholder="Add your ingredients">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
    </form>

    <div>
        <div ng-if="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <div ng-if="model.groceries.length == 0" class="margin_top empty_list">
            Currently you have no Groceries added in your account
        </div>

        <div ng-if="model.groceries">
            <ul ng-repeat="grocery in model.groceries" class="list-group">
                <li class="checkbox form-input-group list-group-item">
                    <button class="unfollow_btn" ng-click="model.deleteIngredient(grocery)">
                        <span class="glyphicon glyphicon-trash pull-right" style="text-align: right"></span>
                    </button>
                    <label class="mitr-font" style="margin-left: 10%">
                        <input ng-model="value" type="checkbox" value="{{grocery.name}}" ng-change="model.change(value)"> {{grocery.name}}
                    </label>
                </li>

            </ul>
        </div>

        <div class="col-xs-6 margin_top">
            <button id="search" class="unfollow_btn" ng-click="model.searchRecipeFromCheckbox()">Search Recipes</button>
        </div>
    </div>

</div>