<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container_fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-click="model.website_list()" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">Pages</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.new_page()" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">
    <ul ng-repeat="page in model.pages" class="list-group">
        <li class="list-group-item">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget">{{page.name}}</a>
            <a ng-click="model.page_edit(page)">
                <span class="glyphicon glyphicon-cog pull-right blue_glyph"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="#/profile">
            <span class="glyphicon glyphicon-user  blue_glyph"></span>
        </a>
    </div>
</nav>
