<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container_fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../website/website_list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">Pages</a>
            <p class="navbar-text pull-right">
                <a href="page_new.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container" ng-controller="Page_list_controller">
    <!--
    <div ng-repeat="page in pages">
        <h4 class="list">  
            {{page.name}}  
            <span class="glyphicon glyphicon-cog pull-right blue_glyph"></span>  
        </h4>
    </div>-->
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../widget/widget_list.view.client.html">Some Blog Post</a>
            <a href="page_edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right blue_glyph"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget_list.view.client.html">Home</a>
            <a href="page_edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right blue_glyph"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget_list.view.client.html">About</a>
            <a href="page_edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right blue_glyph"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget_list.view.client.html">Product list</a>
            <a href="page_edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right blue_glyph"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="../views/user/profile.view.client.html">
            <span class="glyphicon glyphicon-user  blue_glyph"></span>
        </a>
    </div>
</nav>
