<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="container" style="height: 0px;">
    <div class="modal fade" id="launch_model">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 ng-if="model.success" class="modal-title">Success</h4>
                    <h4 ng-if="model.error" class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p ng-if="model.success">{{model.success}}</p>
                    <p ng-if="model.error">{{model.error}}</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<div class="container">
    <div  style="text-align: center">
        <h2 class="font-effect-anaglyph">{{model.recipe.title}}</h2>
    </div>

    <img src="{{model.recipe.image_url}}" class="margin_top" style="margin-left: auto; margin-right: auto; display: block; width: 100%;">

    <div id="spinner" class="container margin_top">
        <p>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"  style="margin-left: auto; margin-right: auto; display: block;"></i>
            <span class="sr-only">Loading...</span>
        </p>
    </div>


    <div class="margin_top">
        <h4 class="mitr-font font-effect-anaglyph">Ingredients</h4>
        <ul ng-repeat="ingredient in model.recipe.ingredients">
            <li>{{ingredient}}</li>
        </ul>
    </div>

    <div class="margin_top">
        <h4  class="mitr-font font-effect-anaglyph">Directions</h4>
        <a class="margin_left" href="{{model.recipe.source_url}}" target="_blank">View in {{model.recipe.publisher}}</a>
    </div>

    <div class="margin_top">
        <h4 class="mitr-font font-effect-anaglyph">Comments</h4>

        <button id="addComment_btn" class="unfollow_btn" ng-click="model.addComment()">Add Comment</button>

        <div id="addComment_div">
            <textarea ng-model="comment.comment" class="form-control" placeholder="Type your comment here"></textarea>
            <button class="unfollow_btn margin_top" ng-click="model.saveComment(comment)">Save</button>
            <button class="unfollow_btn margin_top" ng-click="model.cancel()">Cancel</button>
        </div>
    </div>

    <div class="margin_top">
        <h6 ng-if="!model.comments" class="margin_left">Be the first one to write a review</h6>

        <ul ng-if="model.comments" ng-repeat="comment in model.comments" class="list-group">
            <div class="list-item-group">
                <h6 class="capitalize" style="font-weight: bold; color: #8B7500">
                    {{comment.username}} :
                    <span style="color: black">{{comment.comment}}</span>
                </h6>

            </div>
        </ul>
    </div>

</div>