
<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADER">
        <ng-include src="'views/widget/widget_heading.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/widget_image.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/widget_youtube.view.client.html'"></ng-include>
    </div>
    <div ng-default>
        Content yet to be added
    </div>
</div>