<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="plain_background"  style="position: absolute;">

    <div class="container">

        <form class="input-group margin_top" ng-submit="model.searchRecipes(ingredients)">
            <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </form>

        <div id="carousel-example-generic" class="carousel slide margin_top" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="./views/images/image1.jpg" width="100%">
                    <div class="carousel-caption" style="font-family: 'Mitr', serif;">
                        <h4>One place for all the Yummy Recipes</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="./views/images/image2.jpg" width="100%" height="80%">
                    <div class="carousel-caption" style="font-family: 'Mitr', serif;">
                        <h4>Manage your Groceries</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="./views/images/image3.jpg" width="100%" height="80%">
                    <div class="carousel-caption" style="font-family: 'Mitr', serif;">
                        <h4>Connect with friends and have Fun</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div style="margin-bottom: 5%">
        <div class="margin_top">
            <h3 style="text-align: center; color: white; font-family: 'Mitr', serif;">
                Here are some Top Recipes for today..
            </h3>
        </div>

        <div class="container">
            <div ng-if="model.success" class="alert alert-success" role="alert">
                {{model.success}}
            </div>

            <div ng-if="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>
        </div>


        <div ng-if="model.recipes" class="row" style="margin: 2%">
            <div id="image_container" class="col-sm-4" ng-repeat="recipe in model.recipes">

                <div class="jga-widget-tool">
                    <a ng-click="model.checkLogin(recipe)">
                    <span class="glyphicon-stack">
                        <i class="glyphicon glyphicon-circle glyphicon-stack-2x black"></i>
                        <i class="glyphicon glyphicon-heart glyphicon-stack glyphicon-stack-1x white"></i>
                    </span>
                    </a>
                </div>

                <img
                     ng-click="model.selectRecipe(recipe)"
                     width=100% height="200px"
                     ng-src="{{recipe.image_url}}"/>

                <div class="carousel-caption">
                    <label>{{recipe.title}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
