
<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="plain_background">
    <div class="container margin_top">

        <div ng-if="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <div ng-if="model.success" class="alert alert-success" role="alert">
            {{model.success}}
        </div>

        <div ng-if="model.recipes" class="row">
            <div id="image_container" class="col-sm-4" ng-repeat="recipe in model.recipes">

                <div class="jga-widget-tool">
                    <a ng-click="model.checkLogin(recipe)">
                    <span class="glyphicon-stack">
                        <i class="glyphicon glyphicon-circle glyphicon-stack-2x black"></i>
                        <i class="glyphicon glyphicon-heart glyphicon-stack glyphicon-stack-1x white"></i>
                    </span>
                    </a>
                </div>

                <img
                     ng-click="model.selectRecipe(recipe)"
                     width=100% height="200px"
                     ng-src="{{recipe.image_url}}"/>

                <div class="carousel-caption">
                    <label>{{recipe.title}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
