
<div class="container">
    <h1>Register</h1>

    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div ng-show="registerForm.$invalid && registerForm.$submitted" class="alert alert-danger" role="alert">
        There is an error in the form!
    </div>

    <form name="registerForm" novalidate>
        <input name="username" ng-model="username" type="text" class="form-control" placeholder="username" required>
        <span class="error-span" ng-if="registerForm.username.$invalid && registerForm.$submitted">Username cannot be empty</span>

        <input name="password1" ng-model="password" type="password" class="form-control" placeholder="password" required>
        <span class="error-span" ng-if="registerForm.password1.$invalid && registerForm.$submitted">Password cannot be empty</span>

        <input name="password2" ng-model="verify_password" type="password" class="form-control" placeholder="verify password" required>
        <span class="error-span" ng-if="registerForm.password2.$invalid && registerForm.$submitted">Re-enter Password</span>

        <button type="submit"
                ng-click="model.register(username, password, verify_password)"
                class="btn btn-primary btn-block">
            Register
        </button>
        <a class="btn btn-danger btn-block" href="#/login">Cancel</a>
    </form>

</div>
