
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container_fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">Widgets</a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div jgaSortable class="container">

    <div ng-repeat="widget in model.widgets" class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog blue_glyph"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify black_glyph"></span>
        </div>

        <div ng-switch="widget.widgetType">

            <div ng-switch-when="HEADER" ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
            </div>

            <div ng-switch-when="HTML">
                <div ng-bind-html="model.getSafeHTML(widget)"></div>
            </div>
            <div ng-switch-when="IMAGE">
                <img width={{widget.width}} ng-src="{{widget.url}}"/>
            </div>
            <div ng-switch-when="YOUTUBE" class="youtube-widget">
                <iframe width={{widget.width}} ng-src="{{model.getSafeUrl(widget)}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div ng-switch-default>
                Unknown widget
            </div>
        </div>

    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-brand navbar-left" href="#">
            <span class="glyphicon glyphicon-eye-open"></span>
            <span class="glyphicon glyphicon-play"></span>
        </a>
        <a class="navbar-text pull-right" href="#/user/{{model.uid}}">
            <span class="glyphicon glyphicon-user blue_glyph" ></span>
        </a>
    </div>
</nav>
