<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container_fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">Widget Edit</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.update_widget(model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form name="textForm">
        Name
        <input name="widgetName" ng-model="model.widget.name" class="form-control" required/>
        <span class="warning-span" ng-if="textForm.widgetName.$invalid">Name cannot be empty</span><br>
        Text
        <input ng-model="model.widget.text" class="form-control"/>
        Rows
        <input ng-model="model.widget.rows" class="form-control" type="number"/>
        Placeholder
        <input ng-model="model.widget.placeholder" class="form-control"/>
        Formatted
        <input ng-model="model.widget.formatted" type="checkbox"/>
        <a class="btn btn-danger btn-block" ng-click="model.delete_widget(model.widget)">Delete</a>

    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="#/user">
            <span class="glyphicon glyphicon-user  blue_glyph"></span>
        </a>
    </div>
</nav>
