
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container_fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Websites</a>
            <p class="navbar-text pull-right">
                <a href="#user/{{model.uid}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <ul ng-repeat="website in model.websites" class="list-group">
        <li class="list-group-item">
            <a href="#/user/{{model.uid}}/website/{{website._id}}/page">{{website.name}}</a>
            <span class="glyphicon glyphicon-play pull-right blue_glyph"></span>
            <a href="#/user/{{model.uid}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right blue_glyph"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="#/user">
            <span class="glyphicon glyphicon-user  blue_glyph"></span>
        </a>
    </div>
</nav>
