
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container_fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-click="model.website_list()" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">New Website</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.create_website(name, description)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form name="newwebsiteForm">
        <div class="form-group">
            <label>Name</label>
            <input name="websiteName" ng-model="name" class="form-control" type="text" placeholder="Name" required>
            <span class="warning-span" ng-if="newwebsiteForm.websiteName.$invalid">Name cannot be empty</span>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea ng-model="description" class="form-control" type="text" rows="3" placeholder="Description"></textarea>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="#/user">
            <span class="glyphicon glyphicon-user  blue_glyph"></span>
        </a>
    </div>
</nav>
