
<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="container margin_top">

    <div class="input-group">
        <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
            <span class="input-group-btn">
                <a href="#/user/{{model.uid}}/search/{{ingredients}}" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
    </div>

    <div class="profile_body">
        <div class="profile_tab_header" style="margin-top: 2%">
            <ul class="nav nav-tabs nav-justified">
                <li class="font-effect-anaglyph"><a href="#/user">Profile</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/grocery">Groceries</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/favourites">Favourites</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/followers">Followers</a></li>
                <li class="active font-effect-anaglyph"><a href="#/user/{{model.uid}}/following">Follows</a></li>
            </ul>
        </div>
    </div>

    <div class="input-group margin_top">
        <input ng-model="username" type="text" class="form-control clear_search" placeholder="Search Users by Username">
            <span class="input-group-btn">
                <a id="search_toggle" ng-click="model.handleSearchToggle(username)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
    </div>


    <div class="container margin_top">

        <div ng-if="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <div ng-if="model.followings" class="table followings">
            <div ng-repeat="following in model.followings">
                <div class="col-xs-6 margin_top">
                    <a class="mitr-font capitalize" href="#/user/{{model.uid}}/following/{{following._id}}">{{following.following.username}}</a>
                </div>
                <div class="col-xs-6 margin_top">
                    <button class="unfollow_btn" ng-click="model.unFollowUser(following)" style="color: red">UnFollow</button>
                </div>
            </div>
        </div>

        <div ng-if="model.users" class="table users_search">
            <div ng-repeat="user in model.users">
                <div class="col-xs-6 margin_top">
                    <a class="mitr-font capitalize" href="#/">{{user.username}}</a>
                </div>
                <div class="col-xs-6 margin_top">
                    <button class="unfollow_btn" ng-click="model.followUser(user)">Follow</button>
                </div>
            </div>
        </div>
    </div>

</div>

