<nav class="navbar navbar-default navbar-fixed-top black">
    <div class="container_fluid">
        <div class="navbar-header">
            <div class="navbar-brand">OnlineKitchen</div>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}" class="navbar-link right_pad">
                    Home
                </a>
                <a href="#/" class="navbar-link">
                    Logout
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div class="input-group">
        <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
        <span class="input-group-btn">
            <a href="#/user/{{model.uid}}/search/{{ingredients}}" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <div class="profile_body">
        <div class="profile_tab_header" style="margin-top: 2%">
            <ul class="nav nav-tabs nav-justified">
                <li><a href="#/user/{{model.uid}}">Profile</a></li>
                <li><a href="#/user/{{model.uid}}/favourites">Favourite</a></li>
                <li><a href="#/user/{{model.uid}}/followers">Followers</a></li>
                <li class="active"><a href="#/user/{{model.uid}}/following">Follows</a></li>
            </ul>
        </div>

    </div>


    <div class="container">

        <div class="input-group margin_top">
            <input ng-model="username" type="text" class="form-control" placeholder="Search Users by Username">
            <span class="input-group-btn">
                <a ng-click="model.searchUsers(username)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
        </div>

        <div ng-if="model.error">
            <h2>{{model.error}}</h2>
        </div>


        <div ng-if="model.followings" class="row">
            <div ng-repeat="following in model.followings">
                <div class="col-xs-6 margin_top">
                    <a href="#/">{{following.following.username}}</a>
                </div>
                <div class="col-xs-6 margin_top">
                    <a ng-click="model.unFollowUser(following)">UnFollow</a>
                </div>
            </div>
        </div>

        <div ng-if="model.users" class="row">
            <div ng-repeat="user in model.users">
                <div class="col-xs-6 margin_top">
                    <a href="#/">{{user.username}}</a>
                </div>
                <div class="col-xs-6 margin_top">
                    <a ng-click="model.followUser(user)">Follow</a>
                </div>
            </div>
        </div>
    </div>

</div>

