
<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="container margin_top">
    <div class="input-group">
        <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
        <span class="input-group-btn">
            <a href="#/user/{{model.uid}}/search/{{ingredients}}" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <div class="profile_body">
        <div class="profile_tab_header margin_top">
            <ul class="nav nav-tabs nav-justified">
                <li class="active font-effect-anaglyph"><a href="#/user/{{model.uid}}">Profile</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/grocery">Groceries</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/favourites">Favourites</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/followers">Followers</a></li>
                <li class="font-effect-anaglyph"><a href="#/user/{{model.uid}}/following">Follows</a></li>
            </ul>
        </div>

    </div>

    <div class="container">

        <div class="row margin_top profile">
            <div class="profile_avatar col-sm-4">
                <img src="https://farm8.staticflickr.com/7490/27488695586_8c84a993d0_s.jpg" width="50%" height="50%" border="1px">
            </div>

            <div class="col-sm-4 margin_top">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="control-label">Username</label>
                    </div>
                    <div class="col-xs-6">
                        <p>{{model.user.username}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label class="control-label">Email</label>
                    </div>
                    <div class="col-xs-6">
                        <p>{{model.user.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label class="control-label">First Name</label>
                    </div>
                    <div class="col-xs-6">
                        <p>{{model.user.firstName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label class="control-label">Last Name</label>
                    </div>
                    <div class="col-xs-6">
                        <p>{{model.user.lastName}}</p>
                    </div>
                </div>
                <div class="row margin_top">
                    <div class="col-xs-6 edit_btn">
                        <button ng-click="model.editUser()" class="unfollow_btn">Edit</button>
                    </div>
                </div>
                <div class="row margin_top">
                    <div class="col-xs-6 margin_top">
                        <button ng-click="model.unregister()" class="unfollow_btn" style="color: red;">Unregister</button>
                    </div>
                </div>
            </div>
        </div>




        <div class="edit margin_top">
            <!--<div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <!--<strong>Success!</strong> {{model.success}}-->
            <!--</div>-->

            <div ng-if="model.error" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> {{model.error}}
            </div>

            <div role="form">
                <div class="form-group">
                    <label>Username</label>
                    <input ng-model="model.user.username" type="text" class="form-control" placeholder="Ex:JohnPinto"  width="75%">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input ng-model="model.user.email" type="email" class="form-control" placeholder="John@gmail.com">
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    <input ng-model="model.user.firstName" type="text" class="form-control" placeholder="John">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input ng-model="model.user.lastName" type="text" class="form-control" placeholder="Pinto">
                </div>
            </div>

            <div class="col-xs-4">
                <button ng-click="model.updateUser(model.user)" class="unfollow_btn">Save</button>
            </div>

        </div>
    </div>

</div>
