<ng-include src="'views/header/header.view.client.html'"></ng-include>

<div class="container">
    <!--<div class="input-group margin_top">-->
        <!--<input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">-->
        <!--<span class="input-group-btn">-->
            <!--<a ng-click="model.searchRecipes(ingredients)" class="btn btn-default" type="button">-->
                <!--<span class="glyphicon glyphicon-search"></span>-->
            <!--</a>-->
        <!--</span>-->
    <!--</div>-->

    <form class="input-group margin_top" ng-submit="model.searchRecipeWithIngredient(ingredients)">
        <input ng-model="ingredients" type="text" class="form-control" placeholder="Search Recipes by ingredients">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
    </form>

    <div ng-if="model.success" class="alert alert-success" role="alert">
        <h2>{{model.success}}</h2>
    </div>

    <div ng-if="model.error" class="alert alert-danger" role="alert">
        <h2>{{model.error}}</h2>
    </div>

    <div ng-if="model.recipes" class="row">
        <div id="image_container" class="col-sm-4" ng-repeat="recipe in model.recipes">

            <div class="jga-widget-tool">
                <a ng-click="model.addFavourite(recipe)">
                    <span class="glyphicon-stack">
                        <i class="glyphicon glyphicon-circle glyphicon-stack-2x black"></i>
                        <i class="glyphicon glyphicon-heart glyphicon-stack glyphicon-stack-1x white"></i>
                    </span>
                </a>
            </div>

            <img
                 ng-click="model.selectRecipe(recipe)"
                 width=100% height="200px"
                 ng-src="{{recipe.image_url}}"/>

            <div class="carousel-caption">
                <label>{{recipe.title}}</label>
            </div>
        </div>
    </div>
</div>